@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 98%);
}

section {
    height: 100%;
    /* width: 50; */
    padding: 50px 0 0 0;
}

.heading-container {
    /* border: 2px solid red; */
    text-align: center;
    /* width: 70%; */
    min-width: 35%;
    margin: auto;
}

.heading-container h1 {
    color: hsl(229, 6%, 66%);
    font-size: 2rem;
    margin: 5px;
}

.heading-container h2 {
    font-size: 1.8rem;
    color: hsl(234, 12%, 34%);
    font-weight: 900;
    margin: 5px;
}

.heading-container p {
    padding: 5px;
    font-size: 0.8rem;
    color: hsl(234, 12%, 34%);
}

.card-container {
    width: 70%;
    /* margin: 50px auto 0px auto; */
    margin: auto;
    border-radius: 5px;
    display: grid;
    grid-template-areas:
        'super team calc'
        '. karma .';
    grid-gap: 50px;
    position: relative;
    margin-top: 50px;
}

.card-container .card {
    /* margin: auto; */
    width: 300px;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072);
}

.card h2 {
    margin: 3px;
    font-size: 1.2rem;
    color: hsl(234, 12%, 34%);
}

.card p {
    margin: 2px;
    font-size: 0.8rem;
    color: hsl(234, 12%, 34%);
}

.card-image {
    text-align: right;
    padding: 20px 0 0 0;
}

.card-image img {
    width: 50px;
}

.team {
    border-top: 2px solid hsl(0, 78%, 62%);
    grid-area: team;
}
.super {
    border-top: 2px solid hsl(180, 62%, 55%);
    grid-area: super;
    position: relative;
    top: 60%;
}
.karma {
    border-top: 2px solid hsl(34, 97%, 64%);
    grid-area: karma;
}
.calc {
    border-top: 2px solid hsl(212, 86%, 64%);
    grid-area: calc;
    position: relative;
    top: 60%;
}

@media (max-width: 1500px) {
    .heading-container {
        text-align: center;
        width: 50%;
        margin: auto;
    }

    .card-container {
        /* border: 2px solid red; */
        display: grid;
        display: grid;
        grid-template-areas:
            'super team calc'
            '. karma .';
        grid-gap: 20px;
        margin: 50px auto auto auto;
        width: 70%;
    }

    .card-container .card {
        width: 290px;
    }

    .team {
        border-top: 2px solid hsl(0, 78%, 62%);
        grid-area: team;
    }
    .super {
        border-top: 2px solid hsl(180, 62%, 55%);
        grid-area: super;
        position: relative;
        top: 50%;
    }
    .karma {
        border-top: 2px solid hsl(34, 97%, 64%);
        grid-area: karma;
    }
    .calc {
        border-top: 2px solid hsl(212, 86%, 64%);
        grid-area: calc;
        position: relative;
        top: 50%;
    }
}

@media (max-width: 1200px) {
    .heading-container {
        text-align: center;
        width: 50%;
        margin: auto;
    }

    .card-container {
        display: grid;
        grid-template-areas:
            'super team'
            'karma calc';
        margin: 50px auto auto auto;
        width: 60%;
    }

    .card-container .card {
        width: 270px;
    }

    .team {
        border-top: 2px solid hsl(0, 78%, 62%);
        grid-area: team;
    }
    .super {
        border-top: 2px solid hsl(180, 62%, 55%);
        grid-area: super;
        position: relative;
        top: 0%;
    }
    .karma {
        border-top: 2px solid hsl(34, 97%, 64%);
        grid-area: karma;
    }
    .calc {
        border-top: 2px solid hsl(212, 86%, 64%);
        grid-area: calc;
        position: relative;
        top: 0%;
    }
}

@media (max-width: 800px) {
    .heading-container {
        text-align: center;
        width: 50%;
        margin: auto;
    }

    .heading-container h1 {
        color: hsl(229, 6%, 66%);
        font-size: 1.1rem;
        margin: 5px;
    }

    .heading-container h2 {
        font-size: 1rem;
        color: hsl(234, 12%, 34%);
        font-weight: 900;
        margin: 5px;
    }

    .heading-container p {
        margin: 5px;
        font-size: 0.6rem;
        color: hsl(234, 12%, 34%);
    }

    .card-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 50px auto auto auto;
        width: 80%;
    }

    .card-container .card {
        /* margin: auto; */
        width: 70%;
        padding: 15px 30px;
        border-radius: 5px;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
            0 6.7px 5.3px rgba(0, 0, 0, 0.048),
            0 12.5px 10px rgba(0, 0, 0, 0.06),
            0 22.3px 17.9px rgba(0, 0, 0, 0.072);
    }
}
